#loading-bar .bar {
	background: #2c3e50;
	height: 101px;
	top: -100px;
	position: fixed;
}

#loading-bar .peg {
	box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}

#loading-bar-spinner .spinner-icon {
	border-top-color: #2c3e50;
	border-left-color: #2c3e50;
}
