@font-face {
	font-family: 'readabilicons';
	src: url('../font/readabilicons-regular.eot'); /* IE9 Compat Modes */
	src: url('../font/readabilicons-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/readabilicons-regular.woff') format('woff'), /* Modern Browsers */
        url('../font/readabilicons-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/readabilicons-regular.svg#readabiliconsregular') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}

.icon-couch::before {
	content: "\e018";
	font-family: "readabilicons";
	-webkit-font-smoothing: antialiased;
}