#runtime files
commafeed.log
derby.log
data/
java_pid*

# Maven build directory
target
deployments/ROOT.war

# Eclipse files
.project
.classpath
.settings
.factorypath
/target

# IntelliJ Idea files
.idea
*.iml

# Sublime
*.sublime*

# Macs
*.DS_Store
