<dl class="dl-horizontal">
	<dt>r</dt>
	<dd>{{ 'about.shortcuts.refresh' | translate }}</dd>

	<dt>j</dt>
	<dd>{{ 'about.shortcuts.open_next_entry' | translate }}</dd>

	<dt>k</dt>
	<dd>{{ 'about.shortcuts.open_previous_entry' | translate }}</dd>

	<dt>{{ 'about.shortcuts.spacebar' | translate }}</dt>
	<dd>{{ 'about.shortcuts.move_page_down_up' | translate }}</dd>

	<dt>n</dt>
	<dd>{{ 'about.shortcuts.focus_next_entry' | translate }}</dd>

	<dt>p</dt>
	<dd>{{ 'about.shortcuts.focus_previous_entry' | translate }}</dd>

	<dt>shift+j,shift+n</dt>
	<dd>{{ 'about.shortcuts.open_next_feed' | translate }}</dd>

	<dt>shift+k,shift+p</dt>
	<dd>{{ 'about.shortcuts.open_previous_feed' | translate }}</dd>

	<dt>o, enter</dt>
	<dd>{{ 'about.shortcuts.open_close_current_entry' | translate }}</dd>

	<dt>v</dt>
	<dd>{{ 'about.shortcuts.open_current_entry_in_new_window' | translate }}</dd>

	<dt>b</dt>
	<dd>{{ 'about.shortcuts.open_current_entry_in_new_window_background' | translate }}</dd>

	<dt>s</dt>
	<dd>{{ 'about.shortcuts.star_unstar' | translate }}</dd>

	<dt>m</dt>
	<dd>{{ 'about.shortcuts.mark_current_entry' | translate }}</dd>

	<dt>shift+a</dt>
	<dd>{{ 'about.shortcuts.mark_all_as_read' | translate }}</dd>

	<dt>{{ 'about.shortcuts.mouse_middleclick' | translate }}</dt>
	<dd>{{ 'about.shortcuts.open_in_new_tab_mark_as_read' | translate }}</dd>

	<dt>f</dt>
	<dd>{{ 'about.shortcuts.fullscreen' | translate }}</dd>

	<dt>+,-</dt>
	<dd>{{ 'about.shortcuts.font_size' | translate }}</dd>

	<dt>
		g
		<i class="icon-arrow-right"></i>
		a
	</dt>
	<dd>{{ 'about.shortcuts.go_to_all' | translate }}</dd>

	<dt>
		g
		<i class="icon-arrow-right"></i>
		s
	</dt>
	<dd>{{ 'about.shortcuts.go_to_starred' | translate }}</dd>

	<dt>
		g
		<i class="icon-arrow-right"></i>
		u
	</dt>
	<dd>{{ 'about.shortcuts.feed_search' | translate }}</dd>

</dl>
