<div ng-controller="ToolbarCtrl">
	<div class="form-horizontal">
		<div class="btn-group" ng-if="MobileService.mobile">
			<button type="button" class="btn btn-default" ng-click="MobileService.toggleLeftMenu()">
				<i class="icon-list-alt"></i>
			</button>
		</div>

		<div class="btn-group" id="toolbar-nav">
			<a type="button" class="btn btn-default" ng-click="previousEntry()" title="{{ 'toolbar.previous_entry' | translate }}">
				<i class="icon-chevron-up"></i>
			</a>
			<a type="button" class="btn btn-default" ng-click="nextEntry()" title="{{ 'toolbar.next_entry' | translate }}">
				<i class="icon-chevron-down"></i>
			</a>
			<div class="btn-group" id="toolbar-refresh">
				<a type="button" class="btn btn-default" ng-click="refresh()" title="{{ 'toolbar.refresh' | translate }}">
					<i class="icon-refresh"></i>
				</a>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a ng-click="refreshAll()">{{ 'toolbar.refresh_all' | translate }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="btn-group" id="toolbar-mark-read">
			<a type="button" class="btn btn-default" ng-click="markAllAsRead()" title="{{ 'toolbar.mark_all_as_read' | translate }}">
				<i class="icon-ok"></i>
			</a>
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li>
					<a ng-click="markAll12Hours()">{{ 'toolbar.mark_all_older_12_hours' | translate }}</a>
				</li>
				<li>
					<a ng-click="markAllDay()">{{ 'toolbar.mark_all_older_day' | translate }}</a>
				</li>
				<li>
					<a ng-click="markAllWeek()">{{ 'toolbar.mark_all_older_week' | translate }}</a>
				</li>
				<li>
					<a ng-click="markAllTwoWeeks()">{{ 'toolbar.mark_all_older_two_weeks' | translate }}</a>
				</li>
			</ul>
		</div>

		<div class="btn-group toolbar-expand" ng-if="MobileService.mobile">
			<button type="button" class="btn btn-default" ng-click="MobileService.toggleRightMenu()">
				<i ng-class="{'icon-double-angle-right' : !MobileService.rightMenu, 'icon-double-angle-left': MobileService.rightMenu}"></i>
			</button>
		</div>

		<div class="actions btn-group" id="toolbar-read-mode">
			<div ng-if="!MobileService.mobile || MobileService.rightMenu">
				<div class="btn-group read-mode">
					<button type="button" class="btn btn-default" ng-click="settingsService.settings.readingMode = 'unread'" ng-class="{'active': settingsService.settings.readingMode == 'unread'}">{{
						'toolbar.unread' | translate }}</button>
					<button type="button" class="btn btn-default" ng-click="settingsService.settings.readingMode = 'all'" ng-class="{'active': settingsService.settings.readingMode == 'all'}">{{
						'toolbar.all' | translate }}</button>
				</div>

				<div class="btn-group" id="toolbar-read-order">
					<a type="button" class="btn btn-default" ng-click="toggleOrder()" title="{{ 'toolbar.sort_by_asc_desc' | translate }}"
						ng-class="{'active' : settingsService.settings.readingOrder == 'asc' || settingsService.settings.readingOrder == 'desc'}">
						<i ng-class="{'icon-arrow-up' : settingsService.settings.readingOrder == 'asc', 'icon-arrow-down': settingsService.settings.readingOrder != 'asc'}"></i>
					</a>
					<button type="button" class="btn btn-default" ng-click="toggleAbcOrder()" title="{{ 'toolbar.sort_by_abc_zyx' | translate }}"
						ng-class="{'active' : settingsService.settings.readingOrder == 'abc' || settingsService.settings.readingOrder == 'zyx'}">
						<i ng-class="{'icon-sort-by-alphabet' : settingsService.settings.readingOrder != 'zyx', 'icon-sort-by-alphabet-alt': settingsService.settings.readingOrder == 'zyx'}"></i>
					</button>
				</div>

				<div class="btn-group" id="toolbar-read-view-settings">
					<a type="button" class="btn btn-default" ng-click="settingsService.settings.viewMode = 'title'" ng-class="{'active': settingsService.settings.viewMode == 'title'}"
						title="{{ 'toolbar.titles_only' | translate }}">
						<i class="icon-list"></i>
					</a>
					<a type="button" class="btn btn-default" ng-click="settingsService.settings.viewMode = 'expanded'" ng-class="{'active': settingsService.settings.viewMode == 'expanded'}"
						title="{{ 'toolbar.expanded_view' | translate }}">
						<i class="icon-th-list"></i>
					</a>
				</div>

				<div class="btn-group" id="toolbar-settings">
					<a class="btn btn-default" ng-click="toSettings()" title="{{ 'toolbar.settings' | translate }}">
						<i class="icon-cog"></i>
					</a>
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li>
							<a ng-click="toProfile()">
								<i class="icon-user"></i>
								{{ 'toolbar.profile' | translate }}
							</a>
						</li>
						<li ng-show="session.admin">
							<a ng-click="toAdmin()">
								<i class="icon-edit"></i>
								{{ 'toolbar.admin' | translate }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="logout">
								<i class="icon-off"></i>
								{{ 'toolbar.logout' | translate }}
							</a>
						</li>
					</ul>
				</div>
				<div class="btn-group">
					<form ng-submit="search()" class="input-group keywords" ng-if="!MobileService.mobile">
						<input type="text" class="form-control" ng-model="keywords"></input>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="icon-search"></i>
							</button>
						</span>
					</form>
				</div>
				<div class="btn-group donate">
					<button class="btn btn-success" type="button" ng-click="toHelp()" title="{{ 'toolbar.about' | translate }} / {{ 'toolbar.donate' | translate }}">
						<i class="icon-info-sign"></i>
					</button>
				</div>

			</div>
		</div>
		<span ng-if="!MobileService.mobile" ng-bind-html="ServerService.announcement | trustHtml"></span>
	</div>
</div>
