<div class="row">
	<div class="page-header">
		<h1>
			Application settings -
			<small>
				<a ng-click="toUsers()" class="pointer">Manage users</a>
			</small>
			-
			<small>
				<a ng-click="toMetrics()" class="pointer">Metrics</a>
			</small>
		</h1>
	</div>

	<div>
		<form name="settingsForm" class="form-horizontal" ng-submit="save()">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-sm-3" for="publicUrl">Public URL</label>
						<div class="col-sm-9">
							<input type="text" id="publicUrl" name="publicUrl" class="form-control" placeholder="http://localhost:8082/commafeed"
								ng-model="settings.publicUrl" />
							<span class="help-block">The URL in your address bar right now, up to the # (not included)</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="publicUrl">Allow registrations</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<input type="checkbox" id="allowRegistrations" name="allowRegistrations" ng-model="settings.allowRegistrations" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="googleAnalyticsTrackingCode">Google Analytics tracking code</label>
						<div class="col-sm-9">
							<input type="text" name="googleAnalyticsTrackingCode" class="form-control" ng-model="settings.googleAnalyticsTrackingCode" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="googleClientSecret">Background HTTP threads</label>
						<div class="col-sm-9">
							<input type="number" name="backgroundThreads" class="form-control" ng-model="settings.backgroundThreads" />
							<span class="help-inline">Requires restart</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="databaseUpdateThreads">Database update threads</label>
						<div class="col-sm-9">
							<input type="number" name="databaseUpdateThreads" class="form-control" ng-model="settings.databaseUpdateThreads" />
							<span class="help-inline">Requires restart</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="announcement">Announcement</label>
						<div class="col-sm-9">
							<textarea name="announcement" rows="10" class="form-control" ng-model="settings.announcement">
							</textarea>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-sm-3" for="announcement">SMTP Host</label>
						<div class="col-sm-9">
							<input type="text" name="smtpHost" class="form-control" ng-model="settings.smtpHost" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="announcement">SMTP Port</label>
						<div class="col-sm-9">
							<input type="text" name="smtpPort" class="form-control" ng-model="settings.smtpPort" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="smtpTls">SMTP TLS </label>
						<div class="col-sm-9">
							<div class="checkbox">
								<input type="checkbox" name="smtpTls" ng-model="settings.smtpTls" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="smtpUserName">SMTP Username</label>
						<div class="col-sm-9">
							<input type="text" name="smtpUserName" class="form-control" ng-model="settings.smtpUserName" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="smtpPassword">SMTP Password</label>
						<div class="col-sm-9">
							<input type="password" name="smtpPassword" class="form-control" ng-model="settings.smtpPassword" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="heavyLoad">Heavy load</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<input type="checkbox" name="heavyLoad" ng-model="settings.heavyLoad" />
								<span class="help-block">Don't use this unless you know what you're doing!</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="pubsubhubbub">PubSubHubbub</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<input type="checkbox" name="pubsubhubbub" ng-model="settings.pubsubhubbub" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="imageProxyEnabled">Proxy entry images</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<input type="checkbox" name="imageProxyEnabled" ng-model="settings.imageProxyEnabled" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="logLevel">Database query timeout (ms)</label>
						<div class="col-sm-9">
							<input type="number" name="queryTimeout" class="form-control" ng-model="settings.queryTimeout" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="keepStatusDays">Keep read status for (days)</label>
						<div class="col-sm-9">
							<input type="number" name="keepStatusDays" class="form-control" ng-model="settings.keepStatusDays" />
							<span class="help-inline">0 = keep forever</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="refreshIntervalMinutes">Refresh feeds every (minutes)</label>
						<div class="col-sm-9">
							<input type="number" name="refreshIntervalMinutes" class="form-control" min="1" ng-model="settings.refreshIntervalMinutes" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="crawlingPaused">Pause crawling</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<input type="checkbox" name="crawlingPaused" ng-model="settings.crawlingPaused" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="text-center form-group">
					<button type="button" class="btn btn-default" ng-click="cancel()">Back</button>
				</div>
			</div>
		</form>
	</div>
</div>