<div class="row help">
	<div class="col-md-6">

		<div class="about-module">
			<h4>
				<i class="icon-question-sign"></i>
				{{ 'toolbar.about' | translate }}
			</h4>
			<p>
				{{ 'about.line1_prefix' | translate }}
				<a href="https://github.com/Athou/commafeed" target="_blank">GitHub</a>
				{{ 'about.line1_suffix' | translate }}
			</p>
			<p>
				{{ 'about.line2_prefix' | translate }}
				<a href="https://github.com/Athou/commafeed/issues" target="_blank">GitHub</a>
				{{ 'about.line2_suffix' | translate }}
			</p>
			{{ 'about.version' | translate }} {{infos.version}} ({{infos.gitCommit}})
		</div>

		<div class="about-module">
			<h4>
				<i class="icon-money"></i>
				{{ 'toolbar.donate' | translate }}
			</h4>
			<p>{{ 'about.line3' | translate }}</p>
			<form class="donate-action" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_donations">
				<input type="hidden" name="business" value="9CNQHMJG2ZJVY">
				<input type="hidden" name="lc" value="US">
				<input type="hidden" name="item_name" value="CommaFeed">
				<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
				<input type="image" class="donate-image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
					alt="PayPal - The safer, easier way to pay online!">
				<input type="hidden" name="currency_code" value="USD">
				<select name="currency_code">
					<option value="EUR">Euro</option>
					<option value="USD">US Dollars</option>
				</select>
			</form>
			{{ 'about.line4' | translate }}
			<code class="bitcoin-code">1dymfUxqCWpyD7a6rQSqNy4rLVDBsAr5e</code>
		</div>

		<div class="about-module">
			<h4>
				<i class="icon-puzzle-piece"></i>
				{{ 'about.goodies.value' | translate }}
			</h4>
			<p>
				{{ 'about.goodies.android_app' | translate }}:
				<a href="https://github.com/Athou/commafeed-newsplus" target="_blank">News+ extension</a>
				,
				<a href="https://play.google.com/store/apps/details?id=com.commafeed.commafeedreader" target="_blank">CommaFeed Reader</a>
				,
				<a href="https://play.google.com/store/apps/details?id=com.mv.cloudfeedlr" target="_blank">Cloudfeedlr</a>
			</p>
			<p>
				<a href="https://chrome.google.com/webstore/detail/commafeed/bpbfpjiciblcfeganojjkfapnllbhdga" target="_blank">{{ 'about.goodies.chrome_extension' | translate }}</a>
			</p>
			<p>
				<a href="https://addons.mozilla.org/en-US/firefox/addon/commafeed/" target="_blank">{{ 'about.goodies.firefox_extension' | translate }}</a>
			</p>
			<p>
				<a href="https://addons.opera.com/en/extensions/details/commafeed-extension-for-opera/" target="_blank">{{ 'about.goodies.opera_extension' | translate }}</a>
			</p>

			<p>
				{{ 'about.goodies.subscribe_url' | translate }}:
				<a href="rest/feed/subscribe?url=FEED_URL_HERE" target="_blank">rest/feed/subscribe?url=FEED_URL_HERE</a>
			</p>
			<p>
				{{ 'about.goodies.subscribe_bookmarklet' | translate }}:
				<a href="https://www.subtome.com/settings.html" target="_blank">SubToMe</a>
			</p>
			<p>
				{{ 'about.goodies.next_unread_bookmarklet' | translate }}:
				<br />
				<br />
				{{ 'subscribe.category' | translate }}
				<select ng-model="categoryId" ng-options="cat.id as cat.name for cat in CategoryService.flatCategories" class="bookmarklet-select">
				</select>
				<select ng-model="order" class="bookmarklet-select">
					<option value="desc">{{ 'about.goodies.subscribe_bookmarklet_desc' | translate }}</option>
					<option value="asc">{{ 'about.goodies.subscribe_bookmarklet_asc' | translate }}</option>
				</select>
				<a href="javascript:window.location.href='{{baseUrl}}next?category={{categoryId}}&order={{order}}&t='+new Date().getTime();"
					target="_blank">{{ 'global.link' | translate }}</a>
			</p>
		</div>

		<div class="about-module">
			<h4>
				<i class="icon-globe"></i>
				{{ 'about.translation.value' | translate }}
			</h4>
			<p>{{ 'about.translation.message' | translate }}</p>
			<p>
				<a href="https://github.com/Athou/commafeed#translate-commafeed-into-your-language" target="_blank"> {{ 'about.translation.link' | translate }} </a>
			</p>
		</div>
		<div class="about-module">
			<h4>
				<i class="icon-rocket"></i>
				{{ 'about.rest_api.value' | translate }}
			</h4>
			<p>{{ 'about.rest_api.line1' | translate }}</p>
			<p>
				<a href="api/" target="_blank">{{ 'about.rest_api.link_to_documentation' | translate }}</a>
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="about-module">
			<h4>
				<i class="icon-keyboard"></i>
				{{ 'about.keyboard_shortcuts' | translate }}
			</h4>
			<div ng-include="'templates/_shortcuts.html'"></div>
		</div>

		<div class="about-module">
			<h4>
				<i class="icon-info-sign"></i>
				{{ 'about.announcements' | translate }}
			</h4>
			<a class="twitter-timeline" href="https://twitter.com/CommaFeed" data-widget-id="333897786657480704">Tweets by @CommaFeed</a>
			<script>
				!function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p + "://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");
			</script>
		</div>


	</div>
</div>
