<div class="container welcome">
	<div class="row header" ng-controller="LoginCtrl">
		<div class="pull-left">
			<a>
				<img src="images/logo_2.png"></img>
			</a>
		</div>
		<div class="pull-right tagline">Bloat-free feed reader</div>
		<div class="text-center clear-both">
			<img src="images/preview.jpg" class="preview" />
			<a href="" ng-click="demoLogin()" class="demo">
				Try out the demo
				<br />
				<small>(some features are disabled)</small>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" ng-controller="LoginCtrl">
			<div class="well" id="login-panel" ng-if="!recovery">
				<h3>Login</h3>
				<div class="feedback alert alert-danger" ng-if="message">{{message}}</div>
				<form ng-submit="login()">
					<div class="form-group">
						<label for="username">User Name or E-mail</label>
						<input type="text" name="username" class="form-control" ng-model="model.name"></input>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" ng-model="model.password"></input>
					</div>
					<div>
						<input type="submit" class="btn btn-primary" value="Log in" />
						<a href="" class="pull-right" ng-click="toggleRecovery()" ng-if="recovery_enabled">Forgot password?</a>
					</div>
				</form>
			</div>
			<div class="well" id="recovery-panel" ng-if="recovery">
				<h3>Password Recovery</h3>
				<div class="feedback alert alert-danger" ng-if="recovery_message">{{recovery_message}}</div>
				<form ng-submit="recover()">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" class="form-control" ng-model="recovery_model.email" focus="true"></input>
					</div>
					<div>
						<input type="submit" class="btn btn-primary" value="Recover" />
						<input type="button" class="btn" value="Cancel" ng-click="toggleRecovery()" />
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-6" ng-controller="RegisterCtrl">
			<div ng-if="ServerService.allowRegistrations">
				<div class="well" id="register-panel">
					<h3>Register</h3>
					<div ng-repeat="message in messages">{{message}}</div>
					<form autocomplete="off" ng-submit="register()">
						<div class="form-group">
							<label>User Name</label>
							<input type="text" class="form-control" ng-model="model.name"></input>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" ng-model="model.password"></input>
						</div>
						<div class="form-group">
							<label>Email address (used for password recovery only)</label>
							<input type="email" class="form-control" ng-model="model.email"></input>
						</div>
						<div>
							<input type="submit" class="btn btn-primary" value="Register" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<hr />
	<div class="footer">
		<div class="row">
			<span>
				&copy;
				<a href="http://www.commafeed.com" target="_blank">CommaFeed</a>
			</span>
			<span>
				- Sources on
				<a href="https://github.com/Athou/commafeed" target="_blank">GitHub</a>
			</span>
			<span>
				- REST API
				<a href="api/" target="_blank">documentation</a>
			</span>
			<span class="pull-right">
				<a href="https://twitter.com/CommaFeed" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @CommaFeed</a>
				<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + '://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, 'script', 'twitter-wjs');
				</script>
			</span>
		</div>
	</div>
</div>
