<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">
          
<module name="Checker">
	<property name="charset" value="UTF-8" />
	<property name="fileExtensions" value="java" />

	<module name="TreeWalker">
		<property name="tabWidth" value="4" />

		<!-- Checks for Naming Conventions. -->
		<!-- See http://checkstyle.sf.net/config_naming.html -->
		<module name="CatchParameterName">
			<property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$" />
		</module>
		<module name="ConstantName">
			<property name="format" value="^log|[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$" />
		</module>
		<module name="ClassTypeParameterName" />
		<module name="InterfaceTypeParameterName" />
		<module name="LambdaParameterName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="MethodTypeParameterName" />
		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
		</module>
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />

		<!-- Checks for imports -->
		<!-- See http://checkstyle.sf.net/config_import.html -->
		<module name="AvoidStarImport" />
		<module name="AvoidStaticImport" />
		<module name="IllegalImport" />
		<module name="ImportOrder">
			<property name="groups" value="/^java\./,javax,org,com" />
			<property name="ordered" value="true" />
			<property name="separated" value="true" />
		</module>
		<module name="RedundantImport" />
		<module name="UnusedImports" />

		<!-- Modifier Checks -->
		<!-- See http://checkstyle.sf.net/config_modifier.html -->
		<module name="ModifierOrder" />
		<module name="RedundantModifier">
			<property name="tokens" value="METHOD_DEF, VARIABLE_DEF, ANNOTATION_FIELD_DEF, INTERFACE_DEF, CLASS_DEF, ENUM_DEF, RESOURCE" />
		</module>

		<!-- Checks for blocks. You know, those {}'s -->
		<!-- See http://checkstyle.sf.net/config_blocks.html -->
		<module name="EmptyCatchBlock">
			<property name="exceptionVariableName" value="ignore|ignored" />
			<message key="catch.block.empty"
				value="Empty catch block. You can use the name 'ignore' or 'ignored' for the exception variable if you really want an empty catch block, but you should strongly consider at the very least logging something." />
		</module>
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />

		<!-- Checks for common coding problems -->
		<!-- See http://checkstyle.sf.net/config_coding.html -->
		<module name="DeclarationOrder" />
		<module name="DefaultComesLast" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="ExplicitInitialization" />
		<module name="FallThrough" />
		<module name="IllegalInstantiation">
			<property name="classes"
				value="java.lang.Boolean, java.lang.Byte, java.lang.Character, java.lang.Double, java.lang.Float, java.lang.Integer, java.lang.Long, java.lang.Short" />
		</module>
		<module name="IllegalType" />
		<module name="ModifiedControlVariable">
			<property name="skipEnhancedForLoopVariable" value="true" />
		</module>
		<module name="MissingSwitchDefault" />
		<module name="MultipleVariableDeclarations" />
		<module name="NoFinalizer" />
		<module name="OneStatementPerLine" />
		<module name="OverloadMethodsDeclarationOrder" />
		<module name="PackageDeclaration" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="UnnecessaryParentheses" />

		<!-- Checks for class design -->
		<!-- See http://checkstyle.sf.net/config_design.html -->
		<module name="InnerTypeLast" />
		<module name="OneTopLevelClass" />

		<!-- Miscellaneous other checks. -->
		<!-- See http://checkstyle.sf.net/config_misc.html -->
		<module name="ArrayTypeStyle" />
		<module name="OuterTypeFilename" />
		<module name="UpperEll" />

		<!-- Whitespace checks. -->
		<!-- See http://checkstyle.sourceforge.net/config_whitespace.html -->
		<module name="MethodParamPad" />
		<module name="NoLineWrap" />
		<module name="NoWhitespaceBefore" />
		<module name="ParenPad" />
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* +\t*\S" />
			<property name="message" value="Line has leading space characters; indentation should be performed with tabs only." />
			<property name="ignoreComments" value="true" />
		</module>
		<module name="WhitespaceAround" />

	</module>
</module>
