.pointer {
	cursor: pointer;
}

.bs-fb ul {
	margin-bottom: 0px;
}

.horizontal-align {
	padding-top: 5px;
	line-height: 20px
}

.welcome .header {
	margin: 20px 0 40px 0;
}

.welcome .preview {
	margin: 40px 0 20px 0;
}

.main .spinner {
	display: inline-block;
	margin-left: 11px;
	top: -4px;
}

.icon {
	width: 14px;
	height: 14px;
	display: block;
}

.main .dropdown-menu a {
	cursor: pointer;
}

.favicon {
	width: 16px;
	height: 16px;
}
