<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:panel>
		<span wicket:id="feedback"></span>
		<form wicket:id="signInForm">
			<div class="control-group">
				<label class="control-label" for="username">User Name</label>
				<div class="controls">
					<input type="text" id="username" wicket:id="username" class="input-block-level"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" id="password" wicket:id="password" class="input-block-level"></input>
				</div>
			</div>
			<p class="help-block" wicket:id="rememberMeRow">
				<label class="checkbox">
					<input wicket:id="rememberMe" type="checkbox" />
					Remember me
				</label> 
			</p>
			<div>
				<input type="submit" class="btn btn-primary" value="Log in" />
			</div>
		</form>
	</wicket:panel>
</body>
</html>
