<li>
	<div ng-mouseenter="hovered=node" ng-mouseleave="hovered=null" class="pointer" ui-if="showLabel">
		<div class="dropdown pull-right">
			<div class="pull-right" ng-click="showCategoryDetails(node)">
				<i ng-class="{'icon-chevron-right': hovered==node}" class="icon"></i>
			</div>
		</div>
		<span class="fldr">
			<i ng-class="{'icon-caret-right': !node.expanded, 'icon-caret-down': node.expanded}" ng-click="toggleCategory(node)" ng-show="showChildren"></i>
		</span>
		<span ng-click="categoryClicked(node.id)">
			<span ng-class="{selected: (node.id == selectedId && selectedType == 'category'), unread: unreadCount({category:node})}">{{formatCategoryName(node)}}
			</span>
		</span>
	</div>
	<ul ng-show="node.expanded && showChildren" ng-class="{indent: showLabel}">
		<recursive>
			<category ng-repeat="child in node.children" ng-show="settingsService.settings.showRead == true || unreadCount({category:node}) > 0"
				node="child" selected-type="selectedType"
				selected-id="selectedId" show-label="true" show-children="true"
				unread-count="unreadCount({category:category})"> 
			</category> 
		</recursive>
		<li ng-repeat="feed in node.feeds" ng-mouseenter="hovered=feed"
			ng-mouseleave="hovered=null" ng-show="settingsService.settings.showRead == true || feed.unread > 0"
			ng-class="{error: feed.message && feed.errorCount > 10}">
			<div class="pull-right" ng-click="showFeedDetails(feed)">
				<i ng-class="{'icon-chevron-right': hovered==feed}" class="icon pointer"></i>
			</div>
			<a ng-click="feedClicked(feed.id)" class="feed-link"
				ng-class="{selected: (feed.id == selectedId && selectedType == 'feed'), unread: feed.unread }">
				<favicon url="feed.feedLink" />
				{{formatFeedName(feed)}}
			</a>
		</li>
	</ul>
</li>