<dl class="dl-horizontal">
	<dt>k</dt>
	<dd>${about.shortcuts.open_next_entry}</dd>

	<dt>j</dt>
	<dd>${about.shortcuts.open_previous_entry}</dd>

	<dt>o, enter</dt>
	<dd>${about.shortcuts.open_close_current_entry}</dd>

	<dt>v</dt>
	<dd>${about.shortcuts.open_current_entry_in_new_window}</dd>
	
	<dt>s</dt>
	<dd>${about.shortcuts.star_unstar}</dd>
	
	<dt>m</dt>
	<dd>${about.shortcuts.mark_current_entry}</dd>
	
	<dt>shift+a</dt>
	<dd>${about.shortcuts.mark_all_as_read}</dd>

	<dt>${about.shortcuts.mouse_middleclick}</dt>
	<dd>${about.shortcuts.open_in_new_tab_mark_as_read}</dd>
</dl>