<div ng-controller="ToolbarCtrl">
	<div class="form-horizontal">
		<div class="btn-group hidden-desktop">
			<button type="button" class="btn" ng-click="MobileService.toggleLeftMenu()">
				<i class="icon-list-alt"></i>
			</button>
		</div>
		
		<div class="btn-group">
			<a type="button" class="btn" ng-click="previousEntry()" title="${toolbar.previous_entry}"><i class="icon-chevron-up"></i></a>
			<a type="button" class="btn" ng-click="nextEntry()" title="${toolbar.next_entry}"><i class="icon-chevron-down"></i></a>
			<a type="button" class="btn" ng-click="refresh()" title="${toolbar.refresh}"><i class="icon-refresh"></i></a>
		</div>
		
		<div class="btn-group">
			<a type="button" class="btn" ng-click="markAllAsRead()" title="${toolbar.mark_all_as_read}"><i class="icon-ok"></i></a>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a ng-click="markAllDay()">${toolbar.mark_all_older_day}</a></li>
				<li><a ng-click="markAllWeek()">${toolbar.mark_all_older_week}</a></li>
				<li><a ng-click="markAllTwoWeeks()">${toolbar.mark_all_older_two_weeks}</a></li>
			</ul>
		</div>
		
		<div class="btn-group hidden-desktop">
			<button type="button" class="btn" ng-click="MobileService.toggleRightMenu()">
				<i ng-class="{'icon-double-angle-right' : !MobileService.rightMenu, 'icon-double-angle-left': MobileService.rightMenu}"></i>
			</button>
		</div>
	
		<div class="actions btn-group">
			<div class="visible-desktop">
				<div class="btn-group read-mode" data-toggle="buttons-radio">
					<button type="button" class="btn" ng-model="settingsService.settings.readingMode" btn-radio="'unread'">${toolbar.unread}</button>
					<button type="button" class="btn" ng-model="settingsService.settings.readingMode" btn-radio="'all'">${toolbar.all}</button>
				</div>
				
				<div class="btn-group">
					<a type="button" class="btn" ng-click="toggleOrder()" title="${toolbar.sort_by_asc_desc}">
						<i ng-class="{'icon-arrow-up' : settingsService.settings.readingOrder == 'asc', 'icon-arrow-down': settingsService.settings.readingOrder == 'desc'}"></i>
					</a>
				</div>
				
				<div class="btn-group" data-toggle="buttons-radio">
					<a type="button" class="btn" ng-model="settingsService.settings.viewMode" btn-radio="'title'" title="${toolbar.titles_only}"><i class="icon-list"></i></a>
					<a type="button" class="btn" ng-model="settingsService.settings.viewMode" btn-radio="'expanded'" title="${toolbar.expanded_view}"><i class="icon-th-list"></i></a>
				</div>
				
				<div class="btn-group">
					<a class="btn" ng-click="toSettings()" title="${toolbar.settings}"><i class="icon-cog"></i></a>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li><a ng-click="toProfile()"><i class="icon-user"></i> ${toolbar.profile}</a></li>
						<li ng-show="session.admin"><a ng-click="toAdmin()"><i class="icon-edit"></i> ${toolbar.admin}</a></li>
						<li class="divider"></li>
						<li><a href="logout"><i class="icon-off"></i> ${toolbar.logout}</a></li>
					</ul>
				</div>
				<form ng-submit="search()" class="btn-group input-append hidden-phone hidden-tablet">
					<input type="text" ng-model="keywords"></input>
					<button class="btn" type="submit"><i class="icon-search"></i></button>
				</form>
				<div class="btn-group donate">
					<a class="btn btn-success" type="button" ng-click="toHelp()" title="${toolbar.about} / ${toolbar.donate}">
						<i class="icon-info-sign"></i>
					</a>
				</div>
				
			</div>
		</div>
		<div spinner shown="loading"></div>
		<span class="hidden-phone hidden-tablet" ng-bind-html-unsafe="ServerService.announcement"></span>
	</div>
</div>