<div ng-controller="ToolbarCtrl">
	<div class="form-horizontal">
		<span ui-if="showButtons()">
			<div class="btn-group read-mode" data-toggle="buttons-radio">
				<button type="button" class="btn" ng-model="settingsService.settings.readingMode" btn-radio="'unread'">Unread</button>
				<button type="button" class="btn" ng-model="settingsService.settings.readingMode" btn-radio="'all'">All</button>
			</div>
			
			<button type="button" class="btn" ng-click="toggleOrder()">
				<i ng-class="{'icon-arrow-up' : settingsService.settings.readingOrder == 'asc', 'icon-arrow-down': settingsService.settings.readingOrder == 'desc'}"></i>
			</button>
			
			<button type="button" class="btn" ng-click="refresh()"><i class="icon-refresh"></i> Refresh</button>
			<button type="button" class="btn" ng-click="markAllAsRead()"><i class="icon-ok"></i> Mark all as read</button>
		
			<div class="btn-group">
				<a class="btn" ng-click="toSettings()"><i class="icon-cog"></i> Settings</a>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li><a ng-click="toProfile()"><i class="icon-user"></i> Profile</a></li>
					<li ng-show="session.admin"><a ng-click="toAdmin()"><i class="icon-edit"></i> Admin</a></li>
					<li class="divider"></li>
					<li><a ng-click="toHelp()"><i class="icon-question-sign"></i> About</a></li>
					<li><a href="logout"><i class="icon-off"></i> Logout</a></li>
				</ul>
			</div>
		</span>
		<form ng-submit="search()" class="input-append">
			<input type="text" ng-model="keywords"></input>
			<button class="btn" type="submit"><i class="icon-search"></i></button>
		</form>
		<div class="donate">
			<button class="btn btn-success" type="button" ng-click="toDonate()">Donate</button>
		</div>
		<div spinner shown="loading"></div>
		<span>{{ServerService.announcement}}</span>
		
	</div>
</div>