<div class="css-treeview" ng-controller="CategoryTreeCtrl">
	<ul>
		<category node="CategoryService.subscriptions" show-label="'${tree.all}'" show-children="false" level="0" selected-type="selectedType"
			selected-id="selectedId" unread-count="unreadCount(category)"> </category>
		<category node="starred" show-label="'${tree.starred}'" show-children="false" level="0" selected-type="selectedType"
			selected-id="selectedId" unread-count="unreadCount(category)"> </category>
		<category node="CategoryService.subscriptions" show-label="false" show-children="true" level="0" selected-type="selectedType"
			selected-id="selectedId" unread-count="unreadCount(category)"> </category>

		<li ng-repeat="tag in tags | orderBy: 'name'">
			<category node="tag" show-label="tag.name" show-children="false" level="0" selected-type="selectedType" selected-id="selectedId"
				unread-count="unreadCount(category)"> </category>
		</li>
	</ul>
</div>