<div class="row">
	<div class="page-header">
		<h1>
			Application settings
			<small>
				<a ng-click="toUsers()" class="pointer">Manage users</a>
			</small>
		</h1>
	</div>

	<div>
		<form name="settingsForm" class="form-horizontal" ng-submit="save()">
			<div class="control-group">
				<label class="control-label" for="publicUrl">Public URL</label>
				<div class="controls">
					<input type="text" id="publicUrl" name="publicUrl"
						ng-model="settings.publicUrl" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="allowRegistrations">Allow
					registrations</label>
				<div class="controls">
					<input type="checkbox" id="allowRegistrations"
						name="allowRegistrations" ng-model="settings.allowRegistrations" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="googleClientId">Google
					client ID</label>
				<div class="controls">
					<input type="text" name="googleClientId"
						ng-model="settings.googleClientId" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="googleClientSecret">Google
					client secret</label>
				<div class="controls">
					<input type="text" name="googleClientSecret"
						ng-model="settings.googleClientSecret" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="googleAnalyticsTrackingCode">Google
					Analytics tracking code</label>
				<div class="controls">
					<input type="text" name="googleAnalyticsTrackingCode"
						ng-model="settings.googleAnalyticsTrackingCode" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="googleAnalyticsDomainName">Google
					Analytics domain name</label>
				<div class="controls">
					<input type="text" name="googleAnalyticsDomainName"
						ng-model="settings.googleAnalyticsDomainName" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="googleClientSecret">Background
					threads</label>
				<div class="controls">
					<input type="number" name="backgroundThreads"
						ng-model="settings.backgroundThreads" />
					<span class="help-inline">Requires restart</span>
				</div>

			</div>
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn" ng-click="cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>