<div>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#about" data-toggle="tab">About</a>
		</li>
		<li>
			<a href="#shortcuts" data-toggle="tab">Keyboard shortcuts</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="about">
			<h3>CommaFeed</h3>
			<p>
				CommaFeed is an open-source project. Sources are hosted on <a href="https://github.com/Athou/commafeed" target="_blank">GitHub</a>.
			</p>
			<p>
				If you encounter an issue, please report it on the <a href="https://github.com/Athou/commafeed/issues" target="_blank">issues page</a> of the GitHub project.
			</p>
			
			<h3>REST API</h3>
			<p>
				CommaFeed is built on top of JAX-RS and AngularJS. As such, a REST API is available.
			</p>
			<p>
				The documentation about the API is available <a href="api" target="_blank">here</a>.
			</p>
		</div>
		<div class="tab-pane active" id="shortcuts">
			<dl class="dl-horizontal">
				<dt>k, space</dt>
				<dd>open next entry</dd>
				
				<dt>j, shift+space</dt>
				<dd>open previous entry</dd>
				
				<dt>o, enter</dt>
				<dd>open/close current entry</dd>
				
				<dt>v</dt>
				<dd>open current entry in a new window</dd>
				
				<dt>mouse middleclick</dt>
				<dd>open entry in new tab and mark as read</dd>
			</dl>
		</div>
	</div>

</div>