<div ng-controller="FeedListCtrl">

	<div class="entrylist-header" ui-if="name">
		<h3><span>{{name}}&nbsp;</span><span ng-show="name && selectedType == 'category'"> &#187;</span></h3>
	</div>
	
	<div infinite-scroll="loadMoreEntries()" infinite-scroll-disabled="busy || !settingsService.settings.readingMode" infinite-scroll-distance="1" id="feed-accordion">
		<div ng-repeat="entry in entries" class="entry">
			<a scroll-to="isOpen && current == entry" scroll-to-offset="-58" href="{{entry.url}}" target="_blank" class="entry-heading" ng-click="entryClicked(entry, $event)" 
				ng-class="{open: current == entry, closed: current != entry}">
				<span ui-if="selectedType == 'category'" class="feed-name">{{entry.feedName}}</span>
				<span class="entry-date">{{entry.date}}</span>
				<span class="entry-name" ng-class="{unread: entry.read == false, shrink: selectedType == 'category'}" ng-bind-html-unsafe="entry.title"></span>
				
			</a>
			<div class="entry-body" ui-if="isOpen && current == entry">
				<div>
					<h4>
						<a href="{{entry.url}}" target="_blank" ng-bind-html-unsafe="entry.title"></a>
					</h4>
				</div>	
				<div ng-bind-html-unsafe="entry.content"></div>
			</div>
		</div>
		<div class="no-entries" ng-show="entries.length.name && entries.length == 0 && !busy">"{{name}}" has no unread items.</div>
	</div>
</div>