<div ng-controller="FeedListCtrl">

	<div class="entrylist-header">
		<h3><span>{{entryList.name}}&nbsp;</span><span ng-show="entryList.name && selectedType == 'category'"> &#187;</span></h3>
	</div>
	
	<div infinite-scroll="loadMoreEntries()" infinite-scroll-disabled="busy" infinite-scroll-distance="1" id="feed-accordion">
		<div ng-repeat="entry in entryList.entries" class="entry">
			<a href="{{entry.url}}" target="_blank" class="entry-heading" ng-click="entryClicked(entry, $event)" ng-class="{unread: entry.read == false, open: current == entry, closed: current != entry}">
				<span ng-show="selectedType == 'category'">{{entry.feedName}}
					- </span>{{entry.title}} <span class="pull-right">{{entry.date}}</span>
			</a>
			<div class="entry-body" ui-if="isOpen && current == entry">
				<div>
					<h4>
						<a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
					</h4>
				</div>	
				<div ng-bind-html-unsafe="entry.content"></div>
			</div>
		</div>
		<div class="no-entries" ng-show="entryList.entries.length == 0">"{{entryList.name}}" has no unread items.</div>
		<div ng-show="busy">Loading data...</div>
	</div>
</div>