.full-screen .main-content {
	width: 100%;
	margin-left: 0;
}

.entryList {
	padding-top: 50px;
}

/* entry list*/
.entrylist-header {
	border-bottom: 1px solid #eee;
}

.entrylist-header h3 {
	margin: 0;
}

.entrylist-header a {
	color: inherit;
}

.expanded .entry-header,.expanded .entry-body-content {
	padding-left: 25px;
	padding-right: 25px;
}

.expanded .entry-header {
	max-width: 650px;
}

.full-screen .expanded .entry-header {
	max-width: 100%;
}

.rtl .entry-header,.rtl .entry-body-content,.rtl.entry-name {
	direction: rtl;
}

.rtl ul,.rtl ol {
	padding: 0;
	margin: 0 25px 10px 0px;
}

#feed-accordion .entry {
	border-bottom: 1px solid #CCCCCC;
}

#feed-accordion .no-entries {
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
}

#feed-accordion .entry-heading {
	background-color: #ebebeb;
}

#feed-accordion .unread .entry-heading:hover {
	background-color: #ebebeb;
}

#feed-accordion .unread .entry-heading {
	background-color: #fff;
}

#feed-accordion .current.closed .entry-heading {
	background-color: #ffc;
}

#feed-accordion .entry-heading-link {
	color: black;
	height: 20px;
	display: block;
	cursor: pointer;
	padding: 6px 0px;
}

#feed-accordion .entry-heading .feed-name {
	color: #555;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	width: 145px;
	text-overflow: ellipsis;
}

#feed-accordion .entry-heading .entry-name {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 150px;
}

#feed-accordion .unread .entry-heading .entry-name {
	font-weight: bold;
}

#feed-accordion .entry-heading .shrink {
	margin-left: 150px;
}

#feed-accordion .entry-heading .entry-date {
	display: block;
	position: absolute;
	right: 45px;
}

#feed-accordion a.entry-heading-link:hover {
	text-decoration: none;
}

#feed-accordion .entry-external-link {
	position: absolute;
	right: 25px;
	margin-top: -25px;
	color: black;
}

#feed-accordion .entry-external-link:hover {
	text-decoration: none;
}

#feed-accordion .entry-body .entry-title {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 130%;
	font-weight: bold;
}

#feed-accordion .entry-body .entry-subtitle {
	display: block;
	font-size: 14px;
	font-weight: normal;
}

#feed-accordion  .entry-body-content {
	max-width: 650px;
	color: black;
	padding-bottom: 10px;
}

.full-screen #feed-accordion  .entry-body-content {
	max-width: 100%;	
}

#feed-accordion .entry-enclosure {
	clear: both;
	padding-top: 10px;
}

#feed-accordion .entry-buttons {
	clear: both;
	background-color: #fafafa;
	padding: 3px 0px;
	border-top: 1px solid #ebebeb;
}

#feed-accordion .entry-buttons .checkbox.inline {
	padding-top: 0px;
	margin-left: 5px;
}

#feed-accordion .share-buttons a {
	color: #333333;
	padding-left: 5px;
}

#feed-accordion .share-buttons a:hover {
	text-decoration: none;
}

#feed-accordion .entry-buttons label {
	margin-bottom: 0px;
	font-size: 12px;
}

#feed-accordion a.mark-up-to {
	color: #333333;
	position: absolute;
	right: 30px;
}

#feed-accordion a.mark-up-to:hover {
	text-decoration: none;
	cursor: pointer;
}

#feed-accordion .star {
	text-decoration: none;
	padding: 0px 5px;
}

#feed-accordion .icon-star-yellow {
	color: gold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#feed-accordion .icon-star-empty {
	color: #555;
}

#feed-accordion.expanded .entry {
	margin-bottom: 40px;
	border: 1px solid #ddd;
	box-shadow: 0 0 4px #e3e5eb;
}

#feed-accordion.expanded .current {
	border-left: 1px solid rgb(77, 144, 240);
}

#feed-accordion .current.entry-font-size-0 {
	font-size: 14px;
}

#feed-accordion .current.entry-font-size-1 {
	font-size: 15px;
}

#feed-accordion .current.entry-font-size-2 {
	font-size: 16px;
}

#feed-accordion .current.entry-font-size-3 {
	font-size: 17px;
}

#feed-accordion .current.entry-font-size-4 {
	font-size: 18px;
}

#feed-accordion .current.entry-font-size-5 {
	font-size: 19px;
}

#feed-accordion .highlight-search {
	background-color: rgba(255, 255, 140, 0.5);
	color: #333;
}