#theme-nightsky {
    a {
        color: #2a9fd6;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #2a9fd6;
    }

    body,
    .toolbar {
        color: #c6c6c6;
        background-color: #2f2f2f;
    }

    .btn-default {
        color: #c6c6c6;
        background-color: #424242;
        border-color: #424242;
    }

    .btn-default:hover,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        background-color: #282828;
        border-color: #232323;
    }

    .css-treeview li .tree-item:hover {
        background-color: #282828;
    }

    .css-treeview .unread-counter {
        color: #939393;
    }

    .css-treeview .category-link,
    .css-treeview a {
        color: #939393;
    }

    .css-treeview a .unread,
    .css-treeview .category-link .unread {
        color: #c6c6c6;
    }

    .css-treeview .selected {
        color: #c00;
    }

    .entrylist-header {
        border-bottom: 1px solid #282828;
    }

    #feed-accordion .entry {
        border-bottom: 1px solid #282828;
    }

    #feed-accordion .entry-body .entry-title {
        font-weight: normal;
    }

    #feed-accordion .entry-heading .entry-name {
        color: #939393;
    }

    #feed-accordion .unread .entry-heading .entry-name {
        font-weight: normal;
        color: #c6c6c6;
    }

    #feed-accordion .unread .entry-heading {
        background-color: #444;
    }

    #feed-accordion .entry-heading {
        background-color: #2f2f2f;
    }

    #feed-accordion .unread .entry-heading:hover {
        background-color: #2f2f2f;
    }

    #feed-accordion .current.closed .entry-heading {
        background-color: #151515;
    }

    #feed-accordion .entry-heading-link {
        color: #c6c6c6;
    }

    #feed-accordion .entry-external-link {
        color: #c6c6c6;
    }

    #feed-accordion .icon-star-empty {
        color: #c6c6c6;
    }

    #feed-accordion .entry-heading .feed-name {
        color: #939393;
    }

    #feed-accordion .entry-body-content {
        color: #c6c6c6;
    }

    #feed-accordion .entry-buttons {
        background-color: #494949;
        border-top: 1px solid #282828;
    }

    #feed-accordion .share-buttons a {
        color: #c6c6c6;
    }

    #feed-accordion a.mark-up-to {
        color: #c6c6c6;
    }

    #loading-bar .bar {
        background: #c6c6c6;
    }

    #loading-bar .peg {
        box-shadow: 0 0 10px #c6c6c6, 0 0 5px #c6c6c6;
    }
}
