#theme-dark {
  
* {
  outline: 0;
  text-decoration: none;
}
.btn {
  border: none;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  background: none;
  text-shadow: none;
  color: #424345;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15) 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15) 0 1px 1px rgba(0,0,0,0.075);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15) 0 1px 1px rgba(0,0,0,0.075);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15) 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15) 0 1px 1px rgba(0,0,0,0.075);
  background: #e0e0e0;
}
.btn-default {
  background: #c7cbcc;
}
.btn:hover {
  background: #e0e0e0;
}
.dropdown-menu {
  background: #c7cbcc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #424345;
}
.dropdown-menu a {
  color: inherit;
}
.dropdown-menu .divider {
  display: none;
}
.btn-primary:hover {
  color: #000;
}
.btn-primary:active {
  color: #000;
}
.btn-primary:active:hover {
  color: #000;
}
.btn-default:hover {
  color: #000;
}
.btn-default:active {
  color: #000;
}
.btn-default:active:hover {
  color: #000;
}
.btn {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
input[ng-model='keywords'] {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
input[ng-model='keywords']:focus {
  background: #c7cbcc;
}
a[ng-click^='tab'] {
  -webkit-transition: all 390ms linear;
  -moz-transition: all 390ms linear;
  -ms-transition: all 390ms linear;
  -o-transition: all 390ms linear;
  transition: all 390ms linear;
}
a[ng-click^='tab']:hover {
  color: #000;
}
.css-treeview li {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}
#uvTab {
  -webkit-transition: all 260ms linear;
  -moz-transition: all 260ms linear;
  -ms-transition: all 260ms linear;
  -o-transition: all 260ms linear;
  transition: all 260ms linear;
}
body {
  background: #788587;
  color: #424345;
}
body a {
  color: #e0e0e0;
}
body h3 {
  color: #424345;
}
.toolbar {
  background: #788587;
}
.page-header {
  border: none;
}
.entrylist-header {
  border: none;
}
.entrylist-header h3,
.entrylist-header a {
  margin: 0;
}
#feed-accordion .entry {
  border: none;
}
#feed-accordion .unread .entry-heading {
  background: #c9c9c9;
}
#feed-accordion .unread:nth-of-type(2n) .entry-heading {
  background: #ddd;
}
#feed-accordion .unread .entry-heading:hover,
#feed-accordion .unread:nth-of-type(2n):hover {
  background: #ebebeb;
}
#feed-accordion .entry-heading-link {
  color: #383838;
}
#feed-accordion .entry-heading-link:hover {
  color: #000;
}
#feed-accordion .entry-body {
  background: #c7cbcc;
  padding: 15px 0 0 15px;
}
#feed-accordion .entry-body a:not([popup]) {
  color: #2c4967;
}
#feed-accordion .entry-body a:not([popup]):visited {
  color: #8d8e8e;
}
#feed-accordion .entry-body .entry-title {
  display: none;
}
#feed-accordion .entry-body img {
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}
#feed-accordion .highlight-search {
  background: inherit;
}
#feed-accordion .entry-buttons {
  background: #a68589;
  margin-left: -15px;
  border: none;
}
#feed-accordion.expanded .entry {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-bottom: 30px;
}
#feed-accordion.expanded .entry .entry-heading-link {
  color: #a68589;
}
input[ng-model='keywords'] {
  border: none;
  height: 32px;
  background: #9ba8aa;
}
.css-treeview .selected {
  color: #905158 !important;
}
.css-treeview .unread-counter {
  color: #000;
}
.css-treeview li .tree-item:hover {
  background: #ebebeb;
}
.css-treeview a {
  color: #383838;
}
.css-treeview a:hover {
  font-size: 1.02em;
}
#uvTab {
  margin-bottom: -23px;
}
#uvTab:hover {
  margin-bottom: 0;
}
/*dangerous stuff*/
#feed-accordion.expanded .entry .entry-heading-link>.feed-name {
  float: right;
  display: block;
  position: relative;
  margin-right: 150px;
}
#feed-accordion.expanded .entry .entry-heading-link .entry-name {
  margin-left: 40px;
  color: #a68589;
}
@media only screen and (max-width: 800px) {
  #toolbar {
    display: none;
  }
  .sidebar-nav-fixed>.btn-group {
    display: none;
  }
  .entryList {
    padding-top: 10px;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name {
    float: left;
    width: 50px;
    font-size: 0;
    position: initial;
    display: block;
    margin-right: 0;
    margin-right: initial;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name .star {
    font-size: 14px;
    font-size: initial;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name img {
    margin-top: -14px;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name:after {
    content: '';
    display: block;
    clear: left;
  }
  #feed-accordion.expanded .entry .entry-heading-link .entry-name {
    margin-left: 55px;
    color: #a68589;
  }
}

}
