#theme-dark {

.btn {
  border: 0;
  outline: 0;
}
body {
  color: #000;
  background: #526b94;
}
body #toolbar {
  background: #526b94;
}
[type='button'],
[ng-click='toSettings()'],
button[type='submit']:not(.btn-primary) {
  background: #c7cbcc;
}
button[data-toggle='dropdown'] {
  background: #d8dadb;
}
button[ui-sref*='feed'] {
  background: #c7cbcc;
}
input[ng-model='keywords'] {
  background: #526b94;
  height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #d8dadb;
}
input[ng-model='keywords']:focus {
  background: #d8dadb;
  color: #000;
}
.entry-heading-link {
  background: #c7cbcc;
}
a[ng-click*='goToFeed'] {
  color: #e6c6c9;
}
.entry-body-content a[target='_blank'][href^='http'] {
  color: #e6c6c9;
}
span[ng-class*='unread'][unread] {
  color: #000;
}
a[ng-click*='feedClicked'][selected] {
  color: #526b94;
}
.unread-counter {
  color: #000 !important;
}
div.entry-title a {
  text-decoration: underline;
  color: #bc6d75;
}
.entry {
  box-shadow: none !important;
}
div.settings a {
  color: #d8dadb;
}
.page-header {
  border: none;
}
a[ng-click^='tab ='] {
  color: #d8dadb;
}
a[ng-click^='tab =']:hover {
  color: #000;
}
div.about-module a {
  color: #d8dadb;
}
div.entry-body.ng-scope {
  background: #d8dadb;
  padding-left: 15px;
}
div.entry-body.ng-scope a[href^='http'] {
  color: #428bcf;
}
#feed-accordion .entry-buttons {
  background: #bc6d75;
  margin-left: -15px;
  border: none;
}
#feed-accordion .entry-body .entry-subtitle {
  display: inline;
}
.main .spinner {
  margin-left: 25px;
}
div#uvTab {
  visibility: hidden;
}
pre {
  background: transparent;
}
.ng-scope img {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
span[ng-class*='unread'] {
  -webkit-transition: all 390ms linear;
  -moz-transition: all 390ms linear;
  -ms-transition: all 390ms linear;
  -o-transition: all 390ms linear;
  transition: all 390ms linear;
}
.btn {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
input[ng-model='keywords'] {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
a[ng-click^='tab ='] {
  -webkit-transition: all 390ms linear;
  -moz-transition: all 390ms linear;
  -ms-transition: all 390ms linear;
  -o-transition: all 390ms linear;
  transition: all 390ms linear;
}


/*______________ 
original buttons 
_______________*/
/*
[type='button'], [ng-click='toSettings()'], button[type='submit']:not(.btn-primary) {
  background: #bc6d75;
}
button[data-toggle='dropdown'], button[ui-sref*='feed'] { 
  background: #e6c6c9;
}
*/

}
