#theme-ebraminio {
/* My font setting, a bit specific for Persian but is okay in other languages */
body {
  font-family: Tahoma, 'Iranian sans', 'DejaVu Sans', sans-serif;
}
/* My scroll speed hack, it is temporary */
.toolbar {
  position: relative;
}
.entryList {
  padding-top: 0!important;
}
/* needed for more scroll speed */
#uvTab {
  display: none;
}
/* Change source-codes in feeds background to white */
pre {
  background-color: transparent;
}
/* I don't like default buttons radius */
.btn, .btn-large, .btn-small, .btn-mini {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.btn-group > .btn:first-child, .btn-group > .btn-large:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group > .btn:last-child, .btn-group > .btn-large:last-child, .btn-group > .dropdown-toggle {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* Better scrollbar*/
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

}
/* 100% forever */
.expanded .entry-header, #feed-accordion .entry-body-content {
  max-width: 100%;
}