#theme-ebraminio {
  /* My font setting, a bit specific for Persian but is okay in other languages */
  body {
    font-family: Tahoma, 'Iranian sans', 'DejaVu Sans', sans-serif;
  }
  input, button, select, textarea {
    font-family: inherit; /* what said above */
  }
  /* Change source-codes in feeds background to white */
  pre {
    background-color: transparent;
  }
  /* 100% forever */
  .expanded .entry-header, #feed-accordion .entry-body-content {
    max-width: 100%;
  }
}