#theme-svetla {
/*bg color*/
        body, div.form-actions, .toolbar, .entrylist-header ng-scope {
            background:  #AFB8BE;
        }

        .form-actions, div.page-header {
            border: none;
        }

        pre, #feed-accordion .unread .entry-heading {
            background: transparent;
        }

        /*feeds tree*/
        .css-treeview li .tree-item:hover {
        }

        /*feeds list*/

        #feed-accordion .entry-buttons { /*share panel*/
            background: transparent;
            border:none;
            /*  ---> border: 1px solid black; */
        }

        #feed-accordion .entry {
            border: none;
        }

        /* read feed bg */
        #feed-accordion .entry-heading {
        }

        .dropdown-menu.pull-right li.divider {
            height: 0px;
            background: transparent;
            border-bottom: 0px;
        }

        .dropdown-menu {
            background: #E6E6E6;
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
        }

        /**/
        .btn, .btn.dropdown-toggle {
            background: #CFC7BE;
            border: 1px solid #A7B5BE;
            border-radius: 0px;
            box-shadow: none;
        }

        .btn.dropdown-toggle {
            /*background: #eae7e3;*/
        }

        .btn.active {
            box-shadow: none;/*!*/
        }

        button.btn.dropdown-toggle:hover {
            background: #e6e6e6;
        }
        span.hidden-phone.hidden-tablet.ng-binding {
            display: none;
        }
        .entrylist-header ng-scope {
            border: none;
        }

        .entrylist-header {
            border: none;
        }

        .entry-buttons.form-horizontal {
            border-color: black;
        }

        /****************/
        li.pointer a {
            border-radius: 0px;
             color: black;
        }

        li.pointer a:hover {
            background: transparent;
        }

        .btn-primary:hover {
            background: #E6E6E6;
            color: black;
        }

        .btn-primary:focus {
            color: black;
        }

        .btn-primary {
            color: #323639;  
            text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
            box-shadow: none;
        }

        #feed-accordion.expanded .entry {
            box-shadow: none;
            border-color: #CFC7BE;
        }
        }
