/* tree*/
.sidebar-nav-fixed {
	overflow: hidden;
}

.css-treeview {
	font-size: inherit;
	white-space: nowrap;
}

.css-treeview .selected {
	color: #d14836;
}

.css-treeview .unread {
	font-weight: bold;
}

.css-treeview a {
	cursor: pointer;
	color: black;
}

.css-treeview a:hover {
	cursor: pointer;
	color: black;
}

/* entry list*/
.entry {
	border-bottom: 1px solid #CCCCCC;
}

.entry:hover {
	background-color: #EBEBEB;
}

.entry a {
	color: black;
	display: block;
}

.entry a:hover {
	text-decoration: none;
}

.entry-heading .unread {
	font-weight: bold;
}