.main .spinner {
	display: inline-block;
	margin-left: 11px;
	top: -4px;
}

.toolbar {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	z-index: 10;
	position: fixed;
	background-color: #FFF;
	width: 100%;
}

.entryList {
	padding-top: 50px;
}

/* tree*/
.sidebar-nav-fixed {
	margin-top: 10px;
}

.css-treeview {
	margin-top: 15px;
	font-family: inherit;
	font-size: 11px;
	white-space: nowrap;
}

.css-treeview .error {
	color: red;
	font-style: italic;
}

.css-treeview label {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	margin: 3px 0px 3px;
}

.css-treeview label,.css-treeview a,.css-treeview label::before {
	font-family: inherit;
	font-size: 11px;
	white-space: nowrap;
}

.css-treeview .selected {
	color: #d14836;
}

.css-treeview .unread {
	font-weight: bold;
}

.css-treeview a {
	cursor: pointer;
	color: black;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.css-treeview a:hover {
	cursor: pointer;
	color: black;
}

/* entry list*/
.entrylist-header {
	border-bottom: 1px solid #eee;
}

.entrylist-header h3 {
	margin: 0;
}

#feed-accordion .entry {
	border-bottom: 1px solid #CCCCCC;
}

#feed-accordion .no-entries {
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
}

#feed-accordion .entry-heading {
	height: 20px;
	padding: 6px 0px;
	display: block;
	color: black;
	cursor: pointer;
	padding: 6px 0px;
}

#feed-accordion .entry-heading .feed-name {
	color: #555;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	width: 145px;
}

#feed-accordion .entry-heading .entry-name {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 100px;
}

#feed-accordion .entry-heading .entry-name.shrink {
	margin-left: 150px;
}

#feed-accordion .entry-heading .entry-date {
	display: block;
	position: absolute;
	right: 20px;
}

#feed-accordion a.entry-heading:hover {
	text-decoration: none;
}

#feed-accordion .entry-heading.open {
	background-color: #EBEBEB;
}

#feed-accordion .entry-heading.closed:hover {
	background-color: #EBEBEB;
}

#feed-accordion .entry-heading .unread {
	font-weight: bold;
}

#feed-accordion .entry-body h4 {
	margin-top: 5px;
}