/* tree*/
.sidebar-nav-fixed {
	overflow: hidden;
}

.css-treeview {
	font-size: inherit;
	white-space: nowrap;
}

.css-treeview .selected {
	color: #d14836;
}

.css-treeview .unread {
	font-weight: bold;
}

.css-treeview a {
	cursor: pointer;
	color: black;
}

.css-treeview a:hover {
	cursor: pointer;
	color: black;
}

/* entry list*/
#feed-accordion .accordion-group {
	margin-bottom: 0px;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: 0px;
}

#feed-accordion .entry {
	border-bottom: 1px solid #CCCCCC;
}

#feed-accordion .no-entries {
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
}

#feed-accordion .entry .entry-heading a {
	padding: 6px 0px;
	background-color: #EBEBEB;
}

#feed-accordion .entry .entry-heading a.collapsed {
	background-color: #FFF;
}

#feed-accordion .entry .entry-heading a.collapsed:hover {
	background-color: #EBEBEB;
}

#feed-accordion .entry .entry-heading a {
	color: black;
	display: block;
}

#feed-accordion .entry .entry-heading a:hover {
	text-decoration: none;
}

#feed-accordion .entry .entry-heading .unread {
	font-weight: bold;
}