.main {
	margin-top: 10px;
}

.main .spinner {
	width: 50px;
	height: 50px;
	top: 14px;
	left: 20px;
}

/* tree*/
.sidebar-nav-fixed {
	overflow-x: hidden;
}

.css-treeview {
	font-family: inherit;
	font-size: 11px;
	white-space: nowrap;
}

.css-treeview .error {
	color: red;
	font-style:italic;
}

.css-treeview label,.css-treeview a,.css-treeview label::before {
	font-family: inherit;
	font-size: 11px;
	white-space: nowrap;
}

.css-treeview .selected {
	color: #d14836;
}

.css-treeview .unread {
	font-weight: bold;
}

.css-treeview a {
	cursor: pointer;
	color: black;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.css-treeview a:hover {
	cursor: pointer;
	color: black;
}

/* entry list*/
.entrylist-header {
	border-bottom: 1px solid #eee;
}

.entrylist-header h3 {
	margin: 5px 0px 5px 0px;
}

#feed-accordion .accordion-group {
	margin-bottom: 0px;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: 0px;
}

#feed-accordion .entry {
	border-bottom: 1px solid #CCCCCC;
}

#feed-accordion .no-entries {
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
}

#feed-accordion .accordion-inner {
	padding: 0px;
}

#feed-accordion .entry-heading {
	padding: 6px 0px;
}

#feed-accordion .entry-heading.open {
	background-color: #EBEBEB;
}

#feed-accordion .entry-heading.closed:hover {
	background-color: #EBEBEB;
}

#feed-accordion a.accordion-toggle {
	color: black;
	display: block;
	padding: 0px;
}

#feed-accordion a.accordion-toggle:hover {
	text-decoration: none;
}

#feed-accordion a.accordion-toggle .unread {
	font-weight: bold;
}

#feed-accordion .entry-body h4 {
	margin-top: 5px;
}