.pointer {
	cursor: pointer;
}

.bs-fb ul {
	margin-bottom: 0px;
}

.horizontal-align {
	padding-top: 5px;
	line-height: 20px
}

.welcome .header {
	margin: 20px 0 40px 0;
}

.main .spinner {
	display: inline-block;
	margin-left: 11px;
	top: -4px;
}

.icon {
	width: 14px;
	height: 14px;
	display: block;
}

.main .dropdown-menu a {
	cursor: pointer;
}

.favicon {
	width: 16px;
	height: 16px;
}

.toolbar {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	z-index: 10;
	position: fixed;
	background-color: #FFF;
}

.toolbar .donate {
	display: inline-block;
}

.entryList {
	padding-top: 50px;
}

/* tree*/
.sidebar-nav-fixed {
	margin-top: 10px;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 16%;
	overflow: auto;
}

.css-treeview {
	margin-top: 15px;
	font-family: inherit;
	font-size: 12px;
	white-space: nowrap;
}

.css-treeview ul {
	list-style: none;
	margin-left: 0px;
}

.css-treeview li {
	line-height: 20px;
}

.css-treeview .fldr {
	cursor: pointer;
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	margin-top: 1px;
}

.css-treeview .error {
	color: red;
	font-style: italic;
}

.css-treeview label {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	margin: 3px 0px 3px;
}

.css-treeview label,.css-treeview a,.css-treeview label::before {
	font-family: inherit;
	font-size: 12px;
	white-space: nowrap;
}

.css-treeview .selected {
	color: #d14836;
}

.css-treeview .unread {
	font-weight: bold;
}

.css-treeview a {
	cursor: pointer;
	color: black;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.css-treeview a:hover {
	text-decoration: none;
}

.css-treeview li .tree-item:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}

.css-treeview .indent1 {
	padding-left: 22px;
}

.css-treeview .indent2 {
	padding-left: 44px;
}

.css-treeview .indent3 {
	padding-left: 66px;
}

.css-treeview .indent4 {
	padding-left: 88px;
}

.css-treeview .indent5 {
	padding-left: 110px;
}

/* entry list*/
.entrylist-header {
	border-bottom: 1px solid #eee;
}

.entrylist-header h3 {
	margin: 0;
}

#feed-accordion .entry {
	border-bottom: 1px solid #CCCCCC;
}

#feed-accordion .no-entries {
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
}

#feed-accordion .entry-heading {
	height: 20px;
	display: block;
	color: black;
	cursor: pointer;
	padding: 6px 0px;
}

#feed-accordion .entry-heading .feed-name {
	color: #555;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	width: 145px;
	text-overflow: ellipsis;
}

#feed-accordion .entry-heading .entry-name {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 100px;
}

#feed-accordion .entry-heading .shrink {
	margin-left: 150px;
}

#feed-accordion .entry-heading .entry-date {
	display: block;
	position: absolute;
	right: 20px;
}

#feed-accordion a.entry-heading:hover {
	text-decoration: none;
}

#feed-accordion .open {
	background-color: #EBEBEB;
}

#feed-accordion .closed:hover {
	background-color: #EBEBEB;
}

#feed-accordion .entry-heading .unread {
	font-weight: bold;
}

#feed-accordion .entry-body h4 {
	margin-top: 5px;
}

#feed-accordion  .entry-body-content {
	max-width: 650px;
}

#feed-accordion .entry-buttons {
	background-color: #fafafa;
	padding: 3px 0px;
	border-top: 1px solid #ebebeb;
}

#feed-accordion .entry-buttons .checkbox.inline {
	padding-top: 0px;
}

#feed-accordion .share-buttons a {
	color: #333333;
	padding-left: 5px;
}

#feed-accordion .share-buttons a:hover {
	text-decoration: none;
}

#feed-accordion .entry-buttons label {
	margin-bottom: 0px;
	font-size: 12px;
}

#feed-accordion .star {
	text-decoration: none;
	padding: 0px 5px;
}

#feed-accordion .icon-star-yellow {
	color: gold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#feed-accordion .icon-star-empty {
	color: #555;
}

/* admin */
.admin .users-table {
	height: 400px;
}