html.mobile, html.tablet {
	body {
		padding-left: 5px;
		padding-right: 5px;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.left-menu {
		display: none !important;
	}
	.left-menu .feed-link, .left-menu .category-link {
		line-height: 30px;
		font-size: 105%;
	}
	.toolbar .toolbar-expand.btn-group {
		display: inline-block !important;
	}
	.main-content {
		display: block !important;
		float: none !important;
		width: 100% !important;
		margin-left: 0 !important;
	}
	#feed-accordion .entry-heading .shrink {
		margin-left: 0;
		margin-right: 0;
	}
	#feed-accordion .entry-heading .feed-name {
		width: 50%;
	}
	#feed-accordion .feed-name {
		margin-top: 22px;
	}
	#feed-accordion .entry-external-link {
		right: 10px;
		margin-top: -24px;
	}
	#feed-accordion .entry-heading-link {
		height: 40px;
	}
	#feed-accordion .entry-heading .entry-date {
		right: 35px;
		margin-top: 22px;
	}
	#feed-accordion .tags-panel {
		display: block;
	}
	#feed-accordion a.mark-up-to {
		right: 15px;
		margin-top: -18px;
	}
	body.left-menu-active .left-menu {
		display: block !important;
		width: 100%;
	}
	body.left-menu-active .sidebar-nav-fixed {
		width: 100%;
		overflow: auto;
	}
	body.left-menu-active .main-content {
		display: none !important;
	}
	body.right-menu-active .toolbar .actions {
		margin-top: 5px;
		margin-left: 0;
	}
	body.right-menu-active .toolbar .actions {
		display: inherit !important;
	}
	#uvTab {
		display: none;
	}
}