<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:panel>
		<div class="accordion-group" wicket:id="entry">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" wicket:id="link"
					data-parent="#accordion2" href="#collapseOne"> Collapsible
					Group Item #1 </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in" wicket:id="body">
				<div class="accordion-inner" wicket:id="content">Anim pariatur cliche...</div>
			</div>
		</div>
	</wicket:panel>
</body>
</html>
