.container-full {
	width: 100%;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

body img {
	max-width: 100%;
	height: auto;
}

body .modal {
	display: block;
}

body .modal-backdrop {
	opacity: 0.5;
}

label {
	font-weight: inherit;
}

.pointer {
	cursor: pointer;
}

.nolink {
	color: inherit;
}

.nolink:hover {
	text-decoration: none;
	color: inherit;
}

.clear-both {
	clear: both;
}

.block {
	display: block;
}

.pre-wrap {
	white-space: pre-wrap;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.bidi-embed {
	unicode-bidi: embed;
}

.bs-fb ul {
	margin-bottom: 0px;
}

.horizontal-align {
	padding-top: 5px;
	line-height: 20px
}

.welcome .container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 950px;
}

.welcome .header {
	margin: 20px 0 20px 0;
}

.welcome h3 {
	margin-top: 0;
}

.welcome .tagline {
	color: #B3B3B3;
	font-size: 28px;
	padding-top: 110px;
}

.welcome .preview {
	margin-top: 20px;
	margin-bottom: 20px;
}

.welcome .demo {
	font-size: 24px;
	color: #B3B3B3;
	display: block;
}

.main .spinner {
	display: inline-block;
	margin-left: 11px;
	top: -4px;
}

.icon {
	width: 14px;
	height: 14px;
	display: block;
}

.main .dropdown-menu a {
	cursor: pointer;
}

.favicon {
	width: 16px;
	height: 16px;
}

blockquote p {
	font-size: 14px;
}

.btn,.btn-large,.btn-small,.btn-mini {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.btn-group>.btn:first-child,.btn-group>.btn-large:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.btn-group>.btn:last-child,.btn-group>.btn-large:last-child,.btn-group>.dropdown-toggle
	{
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}