#theme-svetla {

* {
  outline: 0;
  text-decoration: none;
}
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.btn {
  border: none;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  background: none;
  text-shadow: none;
  color: #788587;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: 0 -5px 5px 0 rgba(238,232,213,0.2) inset , 0 5px 5px 0 rgba(238,232,213,0.2) inset;
  -moz-box-shadow: 0 -5px 5px 0 rgba(238,232,213,0.2) inset , 0 5px 5px 0 rgba(238,232,213,0.2) inset;
  -ms-box-shadow: 0 -5px 5px 0 rgba(238,232,213,0.2) inset , 0 5px 5px 0 rgba(238,232,213,0.2) inset;
  -o-box-shadow: 0 -5px 5px 0 rgba(238,232,213,0.2) inset , 0 5px 5px 0 rgba(238,232,213,0.2) inset;
  box-shadow: 0 -5px 5px 0 rgba(238,232,213,0.2) inset , 0 5px 5px 0 rgba(238,232,213,0.2) inset;
  background: rgba(238,232,213,0.3);
  color: #788587;
}
.btn-default {
  background: #eee8d5;
}
.btn:hover {
  background: #c4bea6;
}
.dropdown-menu {
  background: #c7cbcc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #424345;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu a {
  color: inherit;
}
.dropdown-menu .divider {
  display: none;
}
.btn-primary:hover {
  color: #000;
}
.btn-primary:active {
  color: #000;
}
.btn-primary:active:hover {
  color: #000;
}
.btn-default:hover {
  color: #000;
}
.btn-default:active {
  color: #000;
}
.btn-default:active:hover {
  color: #000;
}
.btn {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
input[ng-model='keywords'] {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
input[ng-model='keywords']:focus {
  background: #c7cbcc;
}
a[ng-click^='tab'] {
  -webkit-transition: all 390ms linear;
  -moz-transition: all 390ms linear;
  -ms-transition: all 390ms linear;
  -o-transition: all 390ms linear;
  transition: all 390ms linear;
}
a[ng-click^='tab']:hover {
  color: #000;
}
.css-treeview li {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}
#uvTab {
  -webkit-transition: all 260ms linear;
  -moz-transition: all 260ms linear;
  -ms-transition: all 260ms linear;
  -o-transition: all 260ms linear;
  transition: all 260ms linear;
}
body {
  background: #fdf6e3;
  color: #424345;
}
body a {
  color: #788587;
}
.toolbar {
  background: #fdf6e3;
}
.page-header {
  border: none;
}
.entrylist-header {
  border: none;
}
.entrylist-header h3,
.entrylist-header a {
  margin: 0;
}
#feed-accordion .entry-heading {
  background: #edeae6;
  background: -webkit-moz-linear-gradient(rgba(238,232,213,0.7), #fdf6e3);
  background: -moz-linear-gradient(rgba(238,232,213,0.7), #fdf6e3);
  background: -ms-moz-linear-gradient(rgba(238,232,213,0.7), #fdf6e3);
  background: linear-gradient(rgba(238,232,213,0.7), #fdf6e3);
}
#feed-accordion .entry-heading-link {
  color: #786b47 !important;
  font-style: italic !important;
}
#feed-accordion .entry {
  border: none;
}
#feed-accordion .unread .entry-heading {
  background: #fdf6e3;
}
#feed-accordion .unread .entry-heading .entry-heading-link {
  color: #404141 !important;
  font-style: normal !important;
}
#feed-accordion .unread:nth-of-type(2n) .entry-heading {
  background: rgba(238,232,213,0.7);
}
#feed-accordion .entry-body {
  background: #eee8d5;
  padding: 2px 0 0 15px;
}
#feed-accordion .entry-body a.nolink.pointer {
  color: #424345;
}
#feed-accordion .entry-body a:not([popup]) {
  color: #6c6759;
}
#feed-accordion .entry-body a:not([popup]):visited {
  color: #8d8e8e;
}
#feed-accordion .entry-body .entry-title {
  font-size: 1em;
}
#feed-accordion .entry-body .entry-title .entry-subtitle {
  display: inline;
}
#feed-accordion .entry-body .entry-title .entry-subtitle [class^='entry-author'] {
  font-style: italic;
}
#feed-accordion .entry-body .entry-title .entry-subtitle .entry-source {
  display: none;
}
#feed-accordion .entry-body .entry-title a {
  color: #a7a083;
}
#feed-accordion .entry-body img {
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}
#feed-accordion .highlight-search {
  background: inherit;
}
#feed-accordion .entry-buttons {
  background: #a68589;
  margin-left: -15px;
  border: none;
}
#feed-accordion.expanded .entry {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
}
input[ng-model='keywords'] {
  border: none;
  height: 32px;
  -webkit-box-shadow: 0 0 2px 1px #eee8d5 inset;
  -moz-box-shadow: 0 0 2px 1px #eee8d5 inset;
  -ms-box-shadow: 0 0 2px 1px #eee8d5 inset;
  -o-box-shadow: 0 0 2px 1px #eee8d5 inset;
  box-shadow: 0 0 2px 1px #eee8d5 inset;
}
input[ng-model='keywords']:focus {
  background: #fff;
}
.css-treeview .selected {
  color: #a68589 !important;
}
.css-treeview .unread-counter {
  color: #93a1a1;
}
.css-treeview li .tree-item:hover {
  background: #ebebeb;
}
.css-treeview a {
  color: #93a1a1;
}
.css-treeview a:hover {
  font-size: 1.02em;
}
#uvTab {
  margin-bottom: -23px;
}
#uvTab:hover {
  margin-bottom: 0;
}
/* stuff */
#feed-accordion .entry-external-link {
  position: absolute;
  right: auto;
  margin-left: 15px;
  color: #c4bea6;
}
#feed-accordion .entry .entry-heading-link>.feed-name {
  font-size: 0;
  width: 50px;
  margin-left: 35px;
}
#feed-accordion .entry .entry-heading-link>.feed-name .star {
  font-size: 1em;
}
#feed-accordion .entry .entry-heading-link .entry-name {
  margin-left: 100px;
}
#feed-accordion.expanded .entry .entry-heading-link>.feed-name {
  font-size: 1em;
  width: auto;
  float: right;
  display: block;
  position: relative;
  margin-right: 150px;
}
#feed-accordion.expanded .entry .entry-heading-link>.feed-name img {
  margin-top: 0;
}
#feed-accordion.expanded .entry .entry-heading-link .entry-name {
  margin-left: 40px;
}
#feed-accordion.expanded .entry .entry-body .entry-body-content {
  padding-left: 0;
}
#feed-accordion.expanded .entry .entry-body .entry-title {
  display: none;
}
@media only screen and (max-width: 800px) {
  #toolbar {
    display: none;
  }
  .sidebar-nav-fixed>.btn-group {
    display: none;
  }
  .entryList {
    padding-top: 10px;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name {
    float: left;
    width: 50px;
    font-size: 0;
    position: initial;
    display: block;
    margin-right: 0;
    margin-right: initial;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name .star {
    font-size: 14px;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name img {
    margin-top: -10px;
  }
  #feed-accordion.expanded .entry .entry-heading-link>.feed-name:after {
    content: '';
    display: block;
    clear: left;
  }
  #feed-accordion.expanded .entry .entry-heading-link .entry-name {
    margin-left: 55px;
  }
}
#feed-accordion:not(.expanded) .current .entry-heading {
  background: #eee8d5;
}
#feed-accordion:not(.expanded) .current .entry-heading .entry-heading-link {
  color: #a7a083 !important;
  font-style: normal !important;
}
#feed-accordion:not(.expanded) .current .entry-heading .entry-heading-link .feed-name {
  width: auto !important;
  font-size: 1em !important;
  font-style: normal;
  color: #a7a083;
}
#feed-accordion:not(.expanded) .current .entry-heading .entry-heading-link .feed-name img {
  margin-top: 0;
}
#feed-accordion:not(.expanded) .current .entry-heading .entry-heading-link .entry-name {
  display: none;
}
#feed-accordion.expanded .current .entry-heading {
  background: #eee8d5;
}
#feed-accordion.expanded .current .entry-heading .entry-heading-link {
  color: #a7a083 !important;
  font-style: normal !important;
}
#feed-accordion.expanded .current .entry-heading .entry-heading-link .feed-name {
  font-style: inherit;
  color: inherit;
}
#feed-accordion.expanded .current .entry-heading .entry-heading-link .entry-name {
  color: inherit !important;
}
.nav-pills li.active a {
  color: #424345 !important;
}
blockquote {
  border-left: solid 5px #c4bea6 !important;
}
a[href^='http://da.feedsportal.com'] {
  display: none;
}
br {
  display: none;
}

}
