<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>Wicket</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>com.commafeed.frontend.CommaFeedApplication</param-value>
		</init-param>
		<init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Wicket</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
