<li>
	<div ng-mouseenter="hovered=node && node.id != 'all'" ng-mouseleave="hovered=null" class="pointer">
		<div class="dropdown pull-right">
			<a dropdown-toggle class="pull-right">
				<i ng-show="hovered==node" class="icon icon-chevron-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a ng-click="renameCategory(node)">Rename</a>
				</li>
				<li>
					<a ng-click="deleteCategory(node)">Delete</a>
				</li>
			</ul>
		</div>
		<span class="icon-fldr" ng-class="{'icon-fldr-closed': !node.expanded, 'icon-fldr-open': node.expanded}" ng-click="toggleCategory(node)"></span>
		<span ng-click="categoryClick({id: node.id})">
			<span class="icon-fldr icon-fldr-folder"></span>
			<span ng-class="{selected: (node.id == selectedId && selectedType == 'category'), unread: unreadCount({category:node})}">{{formatCategoryName({category:node})}}
			</span>
		</span>
	</div>
	<ul ng-show="node.expanded" class="indent">
		<recursive>
			<category ng-repeat="child in node.children"
				node="child" feed-click="feedClick({id:id})"
				category-click="categoryClick({id:id})" selected-type="selectedType"
				selected-id="selectedId"
				format-category-name="formatCategoryName({category:category})"
				format-feed-name="formatFeedName({feed:feed})"
				unread-count="unreadCount({category:category})"> 
			</category> 
		</recursive>
		<li ng-repeat="feed in node.feeds" ng-mouseenter="hovered=feed"
			ng-mouseleave="hovered=null"
			ng-class="{error: feed.message && feed.errorCount > 10}">
			<div class="dropdown pull-right">
				<a dropdown-toggle class="pull-right">
					<i ng-show="hovered==feed" class="icon icon-chevron-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="renameFeed(feed)">Rename</a>
					</li>
					<li>
						<a ng-click="unsubscribe(feed)">Unsubscribe</a>
					</li>
				</ul>
			</div>
			<a ng-click="feedClick({id: feed.id})" class="feed-link"
				ng-class="{selected: (feed.id == selectedId && selectedType == 'feed'), unread: feed.unread }">
				<favicon url="feed.feedUrl" />
				{{formatFeedName({feed:feed})}}
			</a>
		</li>
	</ul>
</li>