<li> <input type="checkbox" ng-model="node.expanded" ng-click="toggleCategory(node)" /> 
	<label ng-click="categoryClick({id: node.id})"
		   ng-class="{selected: (node.id == selectedId && selectedType == 'category')}">{{formatCategoryName({category:node})}}
	</label>
	<ul>
		<li ng-repeat="feed in node.feeds" ng-mouseenter="hovered=feed" ng-mouseleave="hovered=null">
			<div class="dropdown pull-right" ng-show="hovered==feed">
				<a dropdown-toggle class="pull-right feed-menu-icon"><i class="icon icon-chevron-down" ng-class="{error: feed.message}"></i> </a>
				<ul class="dropdown-menu">
				    <li>
				    	<a ng-click="unsubscribe(feed)">Unsubscribe</a>
				    </li>
			  	</ul>
		  	</div>
		  	<a ng-click="feedClick({id: feed.id})" class="feed-link"
			   ng-class="{selected: (feed.id == selectedId && selectedType == 'feed'), unread: feed.unread }">{{formatFeedName({feed:feed})}}
			</a>
		</li>
	</ul>
</li>