<li> <input type="checkbox" ng-model="node.expanded" ng-click="toggleCategory(node)" /> 
	<label ng-click="categoryClick({id: node.id})"
		   ng-class="{selected: (node.id == selectedId && selectedType == 'category'), unread: unreadCount({category:node})}">{{formatCategoryName({category:node})}}
	</label>
	<ul>
		<li ng-repeat="feed in node.feeds" ng-mouseenter="hovered=feed" ng-mouseleave="hovered=null" ng-class="{error: feed.message && feed.errorCount > 10}">
			<div class="dropdown pull-right">
				<a dropdown-toggle class="pull-right"><i ng-show="hovered==feed" class="icon icon-chevron-down"></i> </a>
				<ul class="dropdown-menu">
					<li>
				    	<a ng-click="rename(feed)">Rename</a>
				    </li>
				    <li>
				    	<a ng-click="unsubscribe(feed)">Unsubscribe</a>
				    </li>
			  	</ul>
		  	</div>
		  	<a ng-click="feedClick({id: feed.id})" class="feed-link"
			   ng-class="{selected: (feed.id == selectedId && selectedType == 'feed'), unread: feed.unread }">
			   <img ng-src="favicon?url={{feed.feedUrl}}" width="16" height="16"></img>
			   {{formatFeedName({feed:feed})}}
			</a>
		</li>
	</ul>
</li>